</div> <!-- end content-wrapper -->
</main>

<%- include('sidebar_right') %>
    <script src="/search-client.js"></script>
    <script src="/activity-client.js"></script>
    <script src="/dropdowns.js"></script>
    </div> <!-- end app-layout -->
    </body>

    </html>